@font-face {
  font-family: "Poppins";
  src: url("/html/assets/fonts/Poppins-Light.woff") format("woff"),
    url("/html/assets/fonts/Poppins-Light.ttf") format("ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("/html/assets/fonts/Poppins-Medium.woff") format("woff"),
    url("/html/assets/fonts/Poppins-Medium.ttf") format("ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("/html/assets/fonts/Poppins-Regular.woff") format("woff"),
    url("/html/assets/fonts/Poppins-Regular.ttf") format("ttf");
  font-weight: 500;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}

body {
  color: #333533;
  background-color: #f5f5f5;
  margin: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 400;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  margin: 12px 0;
}

h5 {
  color: #a0a0a0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  margin: 0 0 8px;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  background-color: #333533;
  height: 376px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
}

.header .title {
  margin: 0 70px 0 50px;
}

.header .title h1 {
  color: #ffd100;
  font-size: 56px;
  margin: 0;
  line-height: 1;
}

.header .position {
  color: #fafafa;
  font-size: 32px;
  margin: 40px 0;
}

.header .position i {
  color: #ffd100;
}

.button {
  color: #ffd100;
  border: 2px solid #ffd100;
  border-radius: 4px;
  padding: 8px 24px;
}

.button i {
  color: #ffd100;
  margin-right: 6px;
}

.button:hover,
.button:hover i {
  color: #333533;
  background-color: #ffd100;
}

.lang {
  color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 4px;
  padding: 6px 8px;
  font-size: 14px;
  opacity: 0.7;
  align-self: flex-start;
}

.lang i {
  color: #fafafa;
  margin-right: 4px;
}

.lang:hover,
.lang:hover i {
  opacity: 1;
}

.header img {
  width: 290px;
  height: 290px;
  border-radius: 50%;
}

.content {
  display: flex;
  justify-content: center;
  padding: 45px 0;
}

nav {
  width: 250px;
  font-size: 24px;
  font-weight: 300;
}

nav ul li {
  cursor: pointer;
}

nav li.active {
  font-weight: 500;
}

nav ul li .marker {
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  border: 1px solid #333533;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  margin-right: 12px;
}

nav ul li.active .marker,
nav ul li:hover .marker {
  background-color: #333533;
  color: #ffd100;
  font-size: 22px;
}

nav ul li:not(:last-child)::after {
  content: "";
  display: block;
  height: 56px;
  border-left: 1px dashed #333533;
  margin: 16px 0 16px 21px;
}

.sections {
  width: 700px;
  border-left: 1px solid #333533;
  padding-left: 40px;
}

.sections section:last-child {
  width: 870px;
}

.contact {
  display: flex;
  margin: 45px 0 45px;
}

.contact div {
  width: 50%;
}

.contact p i {
  margin-left: 10px;
  font-size: 16px;
  color: #a0a0a0;
  cursor: pointer;
}

.contact p i:hover {
  color: #333533;
}

.socials li {
  display: inline-block;
  margin-right: 24px;
}

.socials li span {
  display: inline-block;
  width: 56px;
  height: 56px;
}

.socials li span.linkedin {
  background-image: url("/html/assets/icons/social/linkedin.png");
}

.socials li:hover span.linkedin {
  background-image: url("/html/assets/icons/social/linkedin-hover.png");
}

.socials li span.github {
  background-image: url("/html/assets/icons/social/github.png");
}

.socials li:hover span.github {
  background-image: url("/html/assets/icons/social/github-hover.png");
}

.socials li span.stackoverflow {
  background-image: url("/html/assets/icons/social/stackoverflow.png");
}

.socials li:hover span.stackoverflow {
  background-image: url("/html/assets/icons/social/stackoverflow-hover.png");
}

.socials li span.twitter {
  background-image: url("/html/assets/icons/social/twitter.png");
}

.socials li:hover span.twitter {
  background-image: url("/html/assets/icons/social/twitter-hover.png");
}

.socials li span.telegram {
  background-image: url("/html/assets/icons/social/telegram.png");
}

.socials li:hover span.telegram {
  background-image: url("/html/assets/icons/social/telegram-hover.png");
}

.socials li span.whatsapp {
  background-image: url("/html/assets/icons/social/whatsapp.png");
}

.socials li:hover span.whatsapp {
  background-image: url("/html/assets/icons/social/whatsapp-hover.png");
}

.socials li span.instagram {
  background-image: url("/html/assets/icons/social/instagram.png");
}

.socials li:hover span.instagram {
  background-image: url("/html/assets/icons/social/instagram-hover.png");
}

.skills li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #a0a0a0;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px 24px;
}

.skills .title {
  font-size: 20px;
  font-weight: 500;
}

.skills .title img {
  vertical-align: middle;
  margin-right: 6px;
}

.skills .level {
  font-weight: 300;
  width: 26%;
}

.skills .level i {
  padding: 10px 12px;
  border-left: 1px solid #d6d6d6;
}

.other-skills li {
  display: inline-block;
  padding: 8px 24px;
  border: 1px solid #a0a0a0;
  border-radius: 24px;
  margin: 0 16px 18px 0;
}

.my-skills h4,
.my-projects h4 {
  margin-top: 48px;
  margin-bottom: 24px;
}

.project {
  display: flex;
  flex-direction: column;
  border: 1px solid #a0a0a0;
  border-radius: 8px;
  padding: 10px;
  width: 25%;
  box-sizing: content-box;
}

.project h6 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  margin: 16px 0 0;
}

.project p {
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  margin: 10px 0;
}

.tech-used {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
  margin-bottom: 10px;
}

.tech-used ul li {
  display: inline-block;
}

.tech-used ul li img {
  width: 24px;
}

.project-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-links a {
  color: #333533;
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
  width: 50%;
  padding: 4px 8px;
  text-align: center;
}

.project-links a i {
  margin-right: 5px;
}

.project-links a:first-child {
  border: 1px solid transparent;
  border-radius: 4px;
  margin-right: 4px;
}

.project-links a:last-child,
.project-links a:first-child:hover {
  border: 1px solid #333533;
  border-radius: 4px;
}

.project-links a:last-child:hover {
  color: #f5f5f5;
  background-color: #333533;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  margin-bottom: 36px;
}

.project:not(:last-child) {
  margin-right: 16px;
}
